/* Mod list container */
#modList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Mod list item */
.mod {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    height: 300px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.mod:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
}

.mod img {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
}

.mod h3 {
    margin: 10px 0;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.mod p {
    margin: 10px 0;
    font-size: 1.2rem;
    text-align: justify;
}

.mod .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}
